@font-face {
  font-family: 'FuturaPTBold';
  src: url('../public/FuturaPTBold.b22b8109.otf') format('opentype'); 
}

@font-face {
  font-family: 'FuturaPTBook';
  src: url('../public/FuturaPTBook.bc305be0.otf') format('opentype');
} 

@font-face {
  font-family: 'FuturaPTDemi';
  src: url('../public/FuturaPTDemi.2862dbd8.otf') format('opentype');
}

.bold-text {
  font-family: 'FuturaPTBold', sans-serif;
}

.book-text {
  font-family: 'FuturaPTBook', sans-serif; 
}

.demi-text {
  font-family: 'FuturaPTDemi', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.upgrade-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 7.5px;
  padding: 15px;
  font-size: 1.25rem;
  margin: 10px;
  cursor: pointer;
}

.text-white {
  color: white;
}

.loading-bar {
  height: 10px;
  width: 75%;
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #36454F;
}

.progress {
  height: 100%; 
  background-color: #2edaff;
}


.mt-5 {
  margin-top: 5em;
}

.sharky-dance {
  width: 100vw;
  height: 100vh;
}

.sharky-cta {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 90vw;
  bottom: 3%;
}

.sharky-button {
  padding: 15px;
  background-color: #ddd;
  width: 80%;
  border-radius: 25px;
  margin-bottom: 1.25em;
  border: none;
}

.sharky-button-variant {
  padding: 15px;
  background-color: transparent;
  color: white;
  width: 80%;
  border-radius: 25px;
  margin-bottom: 1.5em;
  border: 1px solid white;
}

.right-icon {
  position: absolute;
  bottom: 2.5%;
  right: 7.5%;
  width: 60px;
  height: 60px;
  background-color: transparent; 
  border: none;
  cursor: pointer;
}

.final-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
}

.img-wrap {
  margin-bottom: 1em;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
}

.nav {
  position: absolute;
  top: 7.5%;
  left: 5%;
  width: 100%;
  text-align: left !important;
}

.text-wrap {
  margin-top: 1.5em;
  width: 100%;
  text-align: left;
  float: left;
}

.title {
  font-size: 1.75em;
  line-height: 25px;
}

.description {
  margin-top: 1.25em;
  font-size: 1em;
  float: left;
}

.shark-img {
  border-radius: 20px;
}
